<div style="display: block; text-align: center;">
  <img src="{{ section.settings.image | img_url: '400x400'}}" alt="image" >
    <ul>
        {% for link in linklists[section.settings.main_linklist].links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
  </ul>
</div>

<style>

</style>

{% schema %}
{
  "name": "Menu",
  "settings": [
  {
    "type": "link_list",
    "id": "main_linklist",
    "label": "Menu"
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  }   
  ],
  "presets": [
    {
      "name": "Menu",
      "category": "Menu Perso"
    }
  ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}